.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    border-color: #428BCA !important;
    background-color: #F5F5F5 !important;
    color: #555555;
    z-index: 2 !important;
}
.inline {
    display: inline;
}
/* select an element that has both classes .inline and .form-control */
.inline.form-control {
    width: 30%;
}

/* These styles overwrite some of the bootstrap styles */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent !important;
}
.side-nav>li.dropdown>ul.dropdown-menu>li>a {
    padding: 5px 15px 5px 40px !important;
}

/* these styles represent the colors of the rsvp responses */
.yes {
    background-color: rgb(46, 230, 25);
    background-color: rgba(46, 230, 25, 0.5);
}
.probably {
    background-color: rgb(250, 240, 60);
    background-color: rgba(250, 240, 60, 0.5);
}
.maybe {
    background-color: rgb(250, 162, 0);
    background-color: rgba(250, 162, 0, 0.5);
}
.no {
    background-color: rgb(242, 65, 41);
    background-color: rgba(242, 65, 41, 0.5);
}
.no.response {
    background-color: rgb(115, 115, 115);
    background-color: rgba(115, 115, 115, 0.5);
}

/* Logo Text */
.navbar-brand {
    font-size: 32px;
}

/* Used on datepicker for prev/next month dates when viewing a month */
.muted {
    color: #999999;
}

.side-nav hr {
    clear: both;
}

/* Used for the teams in the sidenav */
.side-nav li.team a {
    padding-top: 2px;
    padding-bottom: 2px;
}
/* Used for the teams in the sidenav */
.side-nav li.team a.pull-right {
    width: auto;
}
/* Used for the edit/delete team buttons */
.side-nav .btn-group .dropdown-toggle {
    z-index: 10;
}

/* Search box in sidenav */
#searchTeam {
    margin: 5px 5px 10px 5px;
    width: 210px;
}
/* New team button in sidenav */
.side-nav .full-btn {
    margin: 5px 5px 10px 5px;
    width: 210px;
}
.nav-tabs {
    margin-bottom: 15px;
}
.center-vertical {
    margin-top: 1%;
}
/* Used to align the rsvp button on the events */
.rsvp-pill {
    margin: 15px 15px 0 0;
    position: relative;
    z-index: 10;
}
/* Give margin to all buttons that are floated right */
.pull-right.btn,
.pull-right.btn-group {
    margin-left: 5px !important;
}
/* Adjust margin on event h3's */
.list-group-item h3 {
    margin-top: 5px;
}

/* Add a cursor pointer to events on the dashboard */
.events div.list-group-item:hover {
    cursor:pointer;
}
.label {
    margin-right: 5px;
}.label:last-child {
    margin-right: 0;
}
/* Used to make sure email buttons have white text */
.btn.label-yes,
.btn.label-probably,
.btn.label-maybe,
.btn.label-no {
    color: #FFFFFF;
}


/* Override some of the angular-loading-bar styles */


#loading-bar .bar {

  background: #FFF;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
  -moz-box-shadow: #FFF 1px 0 6px 1px;
  -ms-box-shadow: #FFF 1px 0 6px 1px;
  -webkit-box-shadow: #FFF 1px 0 6px 1px;
  box-shadow: #FFF 1px 0 6px 1px;
}

#loading-bar-spinner {
  left: 48%;
}

#loading-bar-spinner .spinner-icon {
  width: 40px;
  height: 40px;
  /*border-top-color:  #3A87AD;
  border-left-color: #3A87AD; */
  border-top-color:  #FFF;
  border-left-color: #FFF;
  border-radius: 40px;
}

/* End angular-loading-bar override styles */

footer {
	text-align: center;
}
