.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    border-color: #428BCA !important;
    background-color: #F5F5F5 !important;
    color: #555555;
    z-index: 2 !important;
}
.inline {
    display: inline;
}
/* select an element that has both classes .inline and .form-control */
.inline.form-control {
    width: 30%;
}

