<div class="container">
    
  <form class="form-signin" name="form" ng-submit="change_password()" autocomplete="off">
 
    <h1>My EZ Team</h1>
    <h3 class="form-signin-heading">Change Password</h3>

	<div class="alert alert-danger" ng-show="error != null || (form.password.$dirty && form.password.$error.required)">
		<span ng-show="error != null">{{error}}</span>
		<span ng-show="form.password.$dirty && form.password.$error.required">Password is required</span>
	</div>
	
    <input type="password" name="new_password" class="form-control" placeholder="New Password" ng-model="user.new_password" autocomplete="off" required autofocus>
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
    <hr />
    
    <div class="form-group">
    	<div class="row">
      	<div class="col-md-6">
					<a href="#/reset" class="btn btn-sm btn-block btn-default">Need an Account?</a>
				</div>
				<div class="col-md-6">
					<a href="#/login" class="btn btn-sm btn-block btn-default">Have an Account?</a>
				</div>
			</div>
    </div>

  </form>

</div> <!-- /container -->