<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1>My Dashboard</h1>
            <ol class="breadcrumb">
              <li class="active"><i class="icon-dashboard"></i> Dashboard</li>
            </ol>
            
			<div class="alert alert-success" ng-show="success != null">
				{{success}}
			</div>
			
			<div class="alert alert-danger" ng-show="error != null">
				{{error}}
			</div>
            
		</div>
	</div><!-- /.row -->
	
	<!-- Loading widget -->
	<div class="modal" id="loadingWidget" style="position:absolute; top: 45%;" >
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <div id="loadingWidget" class="row-fluid ui-corner-all" style="padding: 0 .7em;">
                    <div class="loadingContent">
                        <p>
                            <i class="fa fa-spinner fa-spin fa-2x"></i> Working..
                        </p>
                    </div>
                </div>
              </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

	<div class="row">
	
	    <!-- Upcoming Events -->
		<div class="col-lg-4">
			<div class="panel panel-info">
				<div class="panel-heading">
                	<!-- <a href="#/teams/create" class="btn btn-default btn-xs pull-right" type="button">Create Team</a> -->
                	<h3 class="panel-title inline">Upcoming Events</h3>
              	</div>
              	
              	<div class="panel-body">
              		<div class="list-group" ng-repeat="event in events">
              		
              		    <!-- RSVP Button -->
                        <div class="btn-group pull-right rsvp-pill">
                            <button type="button" class="btn btn-xs btn-info dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-check"></i> RSVP
                                <span class="caret"></span>
                            </button>
                        	<ul class="dropdown-menu">
                                <li>
                                    <a href="" ng-click="rsvp(event.id, event.team_id, 2)" >Yes</a>
                                    <a href="" ng-click="rsvp(event.id, event.team_id, 3)" >Probably</a>
                                    <a href="" ng-click="rsvp(event.id, event.team_id, 4)" >Maybe</a>
                                    <a href="" ng-click="rsvp(event.id, event.team_id, 5)" >No</a>
                        	    </li>
                        	</ul>
                        </div>
              		
						<a class="list-group-item" id="{{event.id}}" ng-class="activeClass(event)" ng-click="getResponses(event.id, event.name, teamId); activateEvent(event)">
                            <h3>{{event.name}}</h3>
                            <p><span class="text-danger">{{event.start | date:'EEEE MMMM d, y @ h:mm a'}}</span></p>
                            <p><strong>Your Response:</strong> <span class="label label-{{event.my_response | lowercase}}">{{event.my_response}}</span></p>
                            <p><strong>Description:</strong> {{event.description}}</p>
                            <p><strong>Location:</strong> {{event.location}}</p>
						</a>
					</div>
				</div>
			</div>
		</div>

        <!-- RSVP Graph -->
		<div class="col-lg-4">
			<div class="panel panel-info">
				<div class="panel-heading">
                	<h3 class="panel-title">RSVP Chart</h3>
              	</div>
              	<div class="panel-body">
                	<highchart id="chart" config="chartConfig"></highchart>
				</div>
			</div>
		</div>
		
		<!-- RSVP Breakdown -->
		<div class="col-lg-4">
			<div class="panel panel-info">
				<div class="panel-heading">
                	<h3 class="panel-title">RSVP Breakdown</h3>
              	</div>
              	<div class="panel-body">
                    <h3>RSVP's for {{selected.name}}</h3>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover tablesorter">
                            <thead>
                                <tr>
                                    <th ng-click="predicate = 'response.id'; reverse=!reverse"><a href="">Response <i class="fa fa-sort"></i></a></th>
                                    <th ng-click="predicate = 'player_id'; reverse=!reverse"><a href="">Name <i class="fa fa-sort"></i></a></th>
                                    <th ng-click="predicate = 'comment'; reverse=!reverse"><a href="">Comment <i class="fa fa-sort"></i></a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="" ng-repeat="res in responses | orderBy:predicate:reverse">
                                    <td><span class="label label-{{res.response.label | lowercase}}">{{res.response.label}}</span></td>
                                    <td>{{res.display_name}}</td>
                                    <td>{{res.comment}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
				</div>
			</div>
		</div>

	</div><!-- /.row -->

</div><!-- /#page-wrapper -->
