<div class="modal" id="loadingWidget" style="position:absolute; top: 45%;" >
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div id="loadingWidget" class="row-fluid ui-corner-all" style="padding: 0 .7em;">
                <div class="loadingContent">
                    <p>
                        <img alt="MyEZTeam" src="images/ajax-loading.gif" /> Thinking
                    </p>
                </div>
            </div>
          </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->