<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1>Team {{team.name}}</h1>
      	<ol class="breadcrumb">
					<li><a href="main.html">Dashboard</a></li>
					<li class="active">{{team.name}}</li>
				</ol>
            
				<div class="alert alert-success" ng-show="success != null">
					{{success}}
				</div>
			
				<div class="alert alert-danger" ng-show="error != null">
					{{error}}
				</div>
			
			</div>
		</div><!-- /.row -->
	
		<div class="modal" id="loadingWidget" style="position:absolute; top: 45%;" >
    	<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<div id="loadingWidget" class="row-fluid ui-corner-all" style="padding: 0 .7em;">
							<div class="loadingContent">
								<p>
									<i class="fa fa-spinner fa-spin fa-2x"></i> Working..
								</p>
							</div>
						</div>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

		<div class="row">

	    <div class="col-lg-12" >
		    <tabset>
					<tab heading="Team Info">
						<div class="col-lg-6" ng-show="team.name != null">
							<div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title">Team Info</h3>
								</div>
								<div class="panel-body">
									<div class="list-group" ng-mouseenter="hover(team)" ng-mouseleave="hover(team)">
					                
										<!-- Edit button when hovered -->
										<a class="btn btn-default btn-xs pull-right" href="#/teams/{{team.id}}/edit" ng-show="(is_owner(team.owner_id, profile.id) || is_manager(team, profile.id)) && team.showDelete">
											<i class="fa fa-pencil"></i> Edit
										</a>
					            
										<h3>{{team.name}}</h3>
										<p><strong>Type:</strong> {{team.type}}</p>
										<p><strong>Default Location:</strong> {{team.default_location}}</p>
										<p><strong>Description:</strong> {{team.description}}</p>
										<p><strong>Owner:</strong> {{team_owner}}</p>
										<p><strong>Managers:</strong></p>
										<ul>
											<li ng-repeat="manager in team.managers">
												{{manager.display_name}}
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
		
						<!-- Player list -->
						<div class="col-lg-6" ng-show="team.name != null">
							<div class="panel panel-info">
								<div class="panel-heading">
									<a href="#/teams/{{team.id}}/add-player" ng-show="is_owner(team.owner_id, profile.id) || is_manager(team, profile.id)" class="btn btn-default btn-xs pull-right" type="button">
										<i class="fa fa-user"></i> Add Player
									</a>
									<h3 class="panel-title">Players</h3>
								</div>
                          	
								<div class="panel-body">        	
									<div class="list-group" ng-show="players.length == 0">
										<div class="list-group-item">
											There are no players on this team
										</div>
									</div>
                          	
									<div class="list-group" ng-repeat="player in players" ng-mouseenter="hover(player)" ng-mouseleave="hover(player)">
										<div class="list-group-item">         		    
											<div class="btn-group pull-right" ng-show="(is_owner(team.owner_id, profile.id) || is_manager(team, profile.id)) && player.showDelete">
												<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
													<i class="fa fa-cog"></i><span class="caret"></span>
												</button>
                                            
												<ul class="dropdown-menu" role="menu">
													<li ng-show="!player.owner"><a href="" ng-click="delete_player(player)"><i class="fa fa-trash-o"></i> Remove From Team</a></li>
													<li ng-show="!player.owner && player.manager === true"><a href="" ng-click="remove_manager(player)">Remove as Manager</a></li>
													<li ng-show="!player.owner && player.manager === false"><a href="" ng-click="add_manager(player)">Add as Manager</a></li>
													<li ng-show="!player.owner" class="divider"></li>
													<li><strong>Player Types:</strong></li>
													<li ng-show="player.player_type.id != '1'"><a href="" ng-click="update_player_type(player, 1)">Make Regular</a></li>
													<li ng-show="player.player_type.id != '2'"><a href="" ng-click="update_player_type(player, 2)">Make Sub</a></li>
													<li ng-show="player.player_type.id != '3'"><a href="" ng-click="update_player_type(player, 3)">Make Member</a></li>
												</ul>
											</div>
                                        
											<span class="label label-primary pull-right center-vertical" ng-show="player.player_type.id == 1">Regular</span>
											<span class="label label-warning pull-right center-vertical" ng-show="player.player_type.id == 2">Sub</span>
											<span class="label label-danger pull-right center-vertical" ng-show="player.player_type.id == 3">Member</span>
											<span class="label label-default pull-right center-vertical" ng-show="player.owner">Owner</span>
											<span class="label label-default pull-right center-vertical" ng-show="player.manager">Manager</span>
											<gravatar-image data-gravatar-email="player.user.email" data-gravatar-size="36" data-gravatar-default="mm"></gravatar-image>
											<strong>{{player.user.first_name}} {{player.user.last_name}}</strong> <small>({{player.user.email}})</small>
										</div>
									</div>
								</div>
							</div>
						</div>
					</tab>
            
					<!-- Events tab -->
					<tab heading="Events" select="onEventTabClick()">
						<div class="col-lg-4">
							<div class="panel panel-info">
								<div class="panel-heading">
            				    
									<a href="#/teams/{{teamId}}/events" ng-show="is_owner(team.owner_id, profile.id) || is_manager(team, profile.id)" class="btn btn-default btn-xs pull-right" type="button" >
										<i class="fa fa-calendar-o"></i> Create Event
									</a>
									<h3 class="panel-title inline">Upcoming Events</h3>
								</div>
                          	
								<div class="panel-body events">

									<div class="list-group" ng-show="events.length == 0">
										<div class="list-group-item">
											There are no upcoming events for this team
            				</div>
            			</div>
                          	
									<div class="list-group" ng-repeat="event in events" ng-mouseenter="hover(event)" ng-mouseleave="hover(event)">
                          		
										<!-- RSVP Button -->
 										<div class="pull-right rsvp-pill" ng-show="is_player(profile.id)">
                          		    
											<!-- Edit button when hovered -->
											<div class="pull-right" ng-show="(is_owner(team.owner_id, profile.id) || is_manager(team, profile.id)) && event.showDelete">
												<!-- Settings Button -->
												<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
													<i class="fa fa-cog"></i><span class="caret"></span>
												</button>
                                            
												<!-- Settings dropdown -->
												<ul class="dropdown-menu" role="menu">
													<li><a href="#/teams/{{team.id}}/events/{{event.id}}/edit" ng-show="(is_owner(team.owner_id, profile.id) || is_manager(team, profile.id)) && event.showDelete">
														<i class="fa fa-pencil"></i> Edit
													</a></li>
													<li><a ng-show="(is_owner(team.owner_id, profile.id) || is_manager(team, profile.id)) && event.showDelete" data-toggle="modal" data-target="#myModal" ng-click="set_current_event(event); setRsvpAsPlayer(true)">
														<i class="fa fa-check"></i> RSVP As Player
													</a></li>
													<li><a href="" ng-click="delete_event(event)"><i class="fa fa-trash-o"></i> Remove</a></li>
												</ul>
											</div>
                                    
											<!-- RSVP button -->
											<button class="btn btn-primary btn-xs btn-info" data-toggle="modal" data-target="#myModal" ng-click="set_current_event(event); setRsvpAsPlayer(false)"><i class="fa fa-check"></i> RSVP</button>
                                    	            	
										</div>
                          		
										<div class="list-group-item" id="{{event.id}}" ng-class="activeClass(event)" ng-click="getResponses(event.id, event.name); activateEvent(event); getEmails(event.id)">
											<h3>{{event.name}}</h3>
											<p><span class="text-danger">{{event.start | date:'EEEE MMMM d, y @ h:mm a'}}</span></p>
											<p  ng-show="is_player(profile.id)"><strong>Your Response:</strong> <span class="label label-{{event.my_response | lowercase}}">{{event.my_response}}</span></p>
											<p><strong>Description:</strong> {{event.description}}</p>
											<p><strong>Location:</strong> {{event.location}}</p>
											<!-- <span class="label label-warning pull-right">Manager</span> -->
										</div><!-- /.list-group-item -->
									</div><!-- /.rsvp-pill -->
									
								</div><!-- /.list-group -->
							</div><!-- /.panel-body -->
						</div><!-- /.panel-info -->
            
            		<!-- RSVP Graph -->
		            <div class="col-lg-4">
            			<div class="panel panel-info">
            				<div class="panel-heading">
                            	<h3 class="panel-title">RSVP Chart</h3>
                          	</div>
                          	<div class="panel-body">
                            	<highchart id="chart" config="chartConfig"></highchart>
            				</div>
            			</div>
            		</div>
            		
            		<!-- RSVP Emails -->
            		<div class="col-lg-4" ng-show="is_owner(team.owner_id, profile.id) || is_manager(team, profile.id)">
            			<div class="panel panel-info">
            				<div class="panel-heading">
                            	<a ng-show="events.length != 0" href="#/teams/{{teamId}}/events/{{selected.id}}/emails" class="btn btn-default btn-xs pull-right" type="button" >
                            	    <i class="fa fa-envelope"></i> Create RSVP Email
                            	</a>
                            	<h3 class="panel-title inline">RSVP Emails</h3>
                          	</div>
                          	
                          	<div class="panel-body">
                          		<div class="list-group" ng-show="!emails || emails.length == 0">
                          			<div class="list-group-item">
                          				There are no emails for this event
            						</div>
            					</div>
                          	
                          		<div class="list-group" ng-repeat="email in emails" ng-mouseenter="hover(email)" ng-mouseleave="hover(email)">
                          		
            						<div class="list-group-item">

                                	    <div class="btn-group pull-right" ng-show="(is_owner(team.owner_id, profile.id) || is_manager(team, profile.id)) && email.showDelete">
                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-cog"></i><span class="caret"></span>
                                            </button>
                                            
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#/teams/{{team.id}}/events/{{email.event_id}}/emails/{{email.id}}/edit"><i class="fa fa-pencil"></i> Edit</a></li>
                                                <li><a href="" ng-click="delete_email(email)"><i class="fa fa-trash-o"></i> Remove</a></li>
                                                <li><a href="" ng-click="send_now(email)">Send Now</a></li>
                                            </ul>
                                        </div>
                                        
                                    	<h3>{{email.title}}<span ng-show="email.default == true" class="badge pull-right">Default Email</span></h3>
                                    	
                            		    <p><strong>Description:</strong> {{email.content}}</p>
                                		<!-- <span class="label label-warning pull-right">Manager</span> -->
            						</div>
            					</div>
                            
            				</div>
            			</div>
            		</div>
            		
            		<!-- RSVP Breakdown -->
            		<div class="col-lg-4">
            			<div class="panel panel-info">
            				<div class="panel-heading">
                            	<h3 class="panel-title">RSVP Breakdown</h3>
                          	</div>
                          	<div class="panel-body">
                          	    <div class="list-group" ng-show="!responses || responses.length == 0">
                          			<div class="list-group-item">
                          				There are no RSVP responses for this event
            						</div>
            					</div>
                          	    
                          	    <div ng-show="responses.length > 0">
                                <h3>RSVP Responses for {{selected.name}}</h3>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover tablesorter">
                                        <thead>
                                            <tr>
                                                <th ng-click="predicate = 'response.id'; reverse=!reverse"><a href="">Response <i class="fa fa-sort"></i></a></th>
                                                <th ng-click="predicate = 'player_id'; reverse=!reverse"><a href="">Name <i class="fa fa-sort"></i></a></th>
                                                <th ng-click="predicate = 'comment'; reverse=!reverse"><a href="">Comment <i class="fa fa-sort"></i></a></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="" ng-repeat="res in responses | orderBy:predicate:reverse">
                                                <td><span class="label label-{{res.response.label | lowercase}}">{{res.response.label}}</span></td>
                                                <td>{{res.display_name}}</td>
                                                <td>{{res.comment}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                </div>
            				</div>
            			</div>
            		</div>
                
                </tab>
                
            </tabset>
        </div>
	</div><!-- /.row -->

</div><!-- /#page-wrapper -->

<ng-include src="'partials/rsvp_modal.html'"></ng-include>
