<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1>Team {{team.name}}</h1>
            <ol class="breadcrumb">
              <li><a href="index.html">Dashboard</a></li>
              <li class="active">{{team.name}}</li>
            </ol>
            
            <div class="alert alert-success" ng-show="success != null">
				{{success}}
			</div>
			
			<div class="alert alert-danger" ng-show="error != null">
				{{error}}
			</div>
			
		</div>
	</div><!-- /.row -->
	
	<div class="modal" id="loadingWidget" style="position:absolute; top: 45%;" >
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <div id="loadingWidget" class="row-fluid ui-corner-all" style="padding: 0 .7em;">
                    <div class="loadingContent">
                        <p>
                            <img alt="MyEZTeam" src="images/ajax-loading.gif" /> Thinking
                        </p>
                    </div>
                </div>
              </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

	<div class="row">

	    <div class="col-lg-12" >
		    <tabset>
		    
                <tab heading="Team Info">
                    <div class="col-lg-6" ng-show="teamName != null">
			            <div class="panel panel-info">
				            <div class="panel-heading">
					            <div ng-repeat="team in teams.owner">
					            	<button class="btn btn-danger btn-xs pull-right" type="button" ng-show="team.id == teamId" ng-click="deleteTeam(team.id)">Delete Team</button>
					            </div>
                	            <h3 class="panel-title">Team Info</h3>
				            </div>
              	            <div class="panel-body">
					            <div class="list-group">
                		            <h3>{{teamName}}</h3>
                		            <p><strong>Type:</strong> {{teamType}}</p>
                                    <p><strong>Default Location:</strong> {{teamLocation}}</p>
                                    <p><strong>Description:</strong> {{teamDescription}}</p>
                                    <p><strong>Owner:</strong> {{teamOwner}}</p>
                                    <p><strong>Managers:</strong></p>
                                    <ul>
                                        <li ng-repeat="player in players | filter:player.player_type == 'Manager'">{{player.first_name}} {{player.last_name}}</li>
                                    </ul>
					            </div>
				            </div>
			            </div>
		            </div>
		
		            <!-- Player list -->
		            <div class="col-lg-6" ng-show="teamName != null">
            			<div class="panel panel-info">
            				<div class="panel-heading">
            				    <div ng-repeat="team in teams.owner">
            					    <a href="#/teams/add-player" ng-show="team.id == teamId" class="btn btn-default btn-xs pull-right" type="button">Add Player</a>
            					</div>
                            	<h3 class="panel-title">Players on {{teamName}}</h3>
                          	</div>
                          	<div class="panel-body">
                            	<div class="list-group" ng-repeat="player in players">
                              		<a href="#/{{player.id}}" class="list-group-item">
            							<span class="label label-primary pull-right" ng-show="player.player_type == 'Regular'">Regular</span>
            							<span class="label label-warning pull-right" ng-show="player.player_type == 'Sub'">Sub</span>
                                		<!-- <span class="badge">just now</span> -->
                                		<i class="fa fa-user"></i> <strong>{{player.user.first_name}} {{player.user.last_name}}</strong> <small>({{player.user.email}})</small>
                              		</a>
                            	</div>
                            	<!-- <div class="text-right">
                              		<a href="#">View All Teams <i class="fa fa-arrow-circle-right"></i></a>
                            	</div> -->
            				</div>
            			</div>
		            </div>
                </tab>
            
                <!-- Events tab -->
                <tab heading="Events" select="onEventTabClick()">
                    <div class="col-lg-4">
            			<div class="panel panel-info">
            				<div class="panel-heading">
            				    
                            	<a href="#/teams/{{teamId}}/events/create" ng-show="profile.id == team.owner_id" class="btn btn-default btn-xs pull-right" type="button" >Create Event</a>
                            	<h3 class="panel-title inline">Upcoming Events</h3>
                          	</div>
                          	
                          	<div class="panel-body">

                          		
                          		<div class="list-group" ng-show="events.length == 0">
                          		
                          			<a class="list-group-item">
                          				There are no upcoming events for this team
            						</a>
            					</div>
                          	
                          		<div class="list-group" ng-repeat="event in events">
                          		
            						<a class="list-group-item" ng-class="activeClass(event)" ng-click="getResponses(event.id, event.name); activateEvent(event)">
                                		<!-- <span class="badge">just now</span> -->
                                	
                                	<h3>{{event.name}} <small class="text-danger pull-right">{{event.start | date:'EEEE, MMMM d,y @ h:mm:ss a'}}</small></h3>
                                	
                            		<p><strong>Description:</strong> {{event.description}}</p>
                            		<p><strong>Location:</strong> {{event.location}}</p>
                                		<!-- <span class="label label-warning pull-right">Manager</span> -->
            						</a>
            					</div>
                            
                           		<!-- <div class="text-right">
                              		<a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                            	</div> -->
            				</div>
            			</div>
            		</div>
            
            		<!-- RSVP Graph -->
		            <div class="col-lg-4">
            			<div class="panel panel-info">
            				<div class="panel-heading">
                            	<h3 class="panel-title">RSVP Chart</h3>
                          	</div>
                          	<div class="panel-body">
                            	<highchart id="chart" config="chartConfig"></highchart>
            				</div>
            			</div>
            		</div>
            		
            		<!-- RSVP Breakdown -->
            		<div class="col-lg-4">
            			<div class="panel panel-info">
            				<div class="panel-heading">
                            	<h3 class="panel-title">RSVP Breakdown</h3>
                          	</div>
                          	<div class="panel-body">
                                <h3>RSVP's for {{selected.name}}</h3>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover tablesorter">
                                        <thead>
                                            <tr>
                                                <th ng-click="predicate = 'response.id'; reverse=!reverse"><a href="">Response <i class="fa fa-sort"></i></a></th>
                                                <th ng-click="predicate = 'player_id'; reverse=!reverse"><a href="">Name <i class="fa fa-sort"></i></a></th>
                                                <th ng-click="predicate = 'comment'; reverse=!reverse"><a href="">Comment <i class="fa fa-sort"></i></a></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="" ng-repeat="res in responses | orderBy:predicate:reverse">
                                                <td><span class="label label-{{res.response.label | lowercase}}">{{res.response.label}}</span></td>
                                                <td>{{res.player_info.firstName}} {{res.player_info.lastName}}</td>
                                                <td>{{res.comment}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
            				</div>
            			</div>
            		</div>
                
                </tab>
            </tabset>
        </div>
	</div><!-- /.row -->

</div><!-- /#page-wrapper -->