<div class="container">

  <form class="form-signin" name="form" ng-submit="login()" autocomplete="off">

    <h1>My EZ Team</h1>

    <div class="alert alert-danger" ng-show="loginError != null || (form.email.$dirty && form.email.$error.required) || (form.email.$dirty && form.email.$error.email) || (form.password.$dirty && form.password.$error.required)">
      <span ng-show="loginError != null">{{loginError}}</span>
      <span ng-show="form.email.$dirty && form.email.$error.required">Email is required<br /></span>
      <span ng-show="form.email.$dirty && form.email.$error.email">Invalid Email Format<br /></span>
      <span ng-show="form.password.$dirty && form.password.$error.required">Password is required</span>
    </div>

    <div class="alert alert-success" ng-show="success != null">
      {{success}}
    </div>

    <div>
      <h3>Your Response: <span class="label label-{{response | lowercase}}">{{response}}</span></h3>
    </div>

    <hr />

    <div class="form-group">
      <div class="row">
        <div class="col-md-12">
          <a href="#/login" class="btn btn-sm btn-block btn-primary">Login</a>
        </div>
      </div>
      <br />

      <div class="row">
        <div class="col-md-6">
          <a href="#/reset" class="btn btn-sm btn-block btn-default">Forgot Password?</a>
        </div>
        <div class="col-md-6">
          <a href="#/signup" class="btn btn-sm btn-block btn-default">Need an Account?</a>
        </div>
      </div>
    </div>

  </form>

</div> <!-- /container -->

<div class="modal" id="loadingWidget" style="position:absolute; top: 45%;" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="loadingWidget" class="row-fluid ui-corner-all" style="padding: 0 .7em;">
          <div class="loadingContent">
            <p>
              <i class="fa fa-spinner fa-spin fa-2x"></i> Working..
            </p>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
