<!DOCTYPE html>
<html lang="en" ng-app="myezteam">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title ng-bind="title + ' | My EZ Team'">My EZ Team</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/sb-admin.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/highcharts.js"></script>
    <script src="js/ui-bootstrap.js"></script>
    <script src="js/highcharts-ng.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/app.js"></script>
    <script src="js/team.js"></script>
    <script src="js/profile.js"></script>
    <script src="js/teams/create.js"></script>
    <script src="js/teams/edit.js"></script>
    <script src="js/players/add-player-to-team.js"></script>
    <script src="js/players/edit-team-player.js"></script>
    <script src="js/dashboard.js"></script>
    <script src="js/events/create-event.js"></script>
    <script src="js/emails/create.js"></script>
    <script src="js/md5-service.js"></script>
    <script src="js/gravatar-directive.js"></script>
        
  </head>

  <body>

    <div id="wrapper" ng-controller="TemplateProfileController">
    
      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">My EZ Team</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right navbar-user">

            <li class="dropdown user-dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"><gravatar-image data-gravatar-email="profile.email" data-gravatar-size="36" data-gravatar-default="mm"></gravatar-image> {{profile.first_name}} {{profile.last_name}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#/profile"><i class="fa fa-user"></i> Profile</a></li>
                <!-- <li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li> -->
                <!-- <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li> -->
                <li class="divider"></li>
                <li><a ng-click="logout()"><i class="fa fa-power-off"></i> Log Out</a></li>
              </ul>
            </li>
          </ul>
        <div class="clearfix"></div>
          <ul class="nav navbar-nav side-nav">
            <li ng-class="{active: activetab == '/dashboard'}"><a href="#/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          	
            <hr/>
            
            <a href="#/teams" class="btn btn-success btn-sm full-btn"><i class="fa fa-plus"></i> New Team</a>
            <a href="" ng-click="toggleTeamButtons()" class="btn btn-default btn-sm full-btn"><i class="fa fa-cog"></i> Toggle Team Settings</a>
            
            <hr/>
            
            <div class="input-group" id="searchTeam">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" ng-model="searchTeam" class="form-control" placeholder="Search For Team">
            </div>
            
            <li ng-repeat="team in teams | filter:searchTeam" class="team">
            
                <div class="btn-group pull-right" ng-show="profile.id == team.owner_id && team.showDelete">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog"></i><span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/teams/{{team.id}}/edit"><i class="fa fa-pencil"></i> Edit</a></li>
                        <li><a href="" ng-click="delete(team)"><i class="fa fa-trash-o"></i> Delete</a></li>
                    </ul>
                </div>
                
                <a href="#/teams/{{team.id}}">
                    <i class="fa fa-group"></i> {{team.name}}
                </a>   

            </li>
           <!-- <li ng-repeat="team in teams.manager | filter:searchTeam" class="team">
              <a ng-show="team" href="#/teams/{{team.id}}"><i class="fa fa-group"></i> {{team.name}}</a>
            </li>
            <li ng-repeat="team in teams.player | filter:searchTeam"  class="team">
              <a href="#/teams/{{team.id}}"><i class="fa fa-group"></i> {{team.name}}</a>
            </li>-->
          </ul>
          
          <div class="clearfix"></div>
          
        </div><!-- /.navbar-collapse -->
      </nav>
        
		<!-- Load partial here -->
		<div ng-view></div>

    </div><!-- /#wrapper -->
    <div id="loadingBackdrop" class="modal-backdrop in" style="display:none;"></div>
  </body>
</html>