<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1>New Event</h1>
			<ol class="breadcrumb">
				<li><a href="main.html">Dashboard</a></li>
				<li><a href="#/teams/{{team_id}}">{{team_name}}</a></li>
	            <li class="active">New Event</li>
	        </ol>
	        
			<div class="alert alert-success" ng-show="success != null">
				{{success}}
			</div>
			
			<div class="alert alert-danger" ng-show="error != null">
				{{error}}
			</div>
	        
		</div>
	</div><!-- /.row -->
	
	<div class="modal" id="loadingWidget" style="position:absolute; top: 45%;" >
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <div id="loadingWidget" class="row-fluid ui-corner-all" style="padding: 0 .7em;">
                    <div class="loadingContent">
                        <p>
                            <i class="fa fa-spinner fa-spin fa-2x"></i> Working..
                        </p>
                    </div>
                </div>
              </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
	
	<div class="row">
		<div class="col-lg-12">
		
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">New Email For {{event_name}}</h3>
	            </div>
				<div class="panel-body">
	              
					<form role="form" name="form" ng-submit="createEventEmail()">
	
	                    <div class="form-group">
                            <label for="default">Do you want this to be the default email for all events for this team?</label>
                            <select class="form-control" name="default" ng-model="email.default" required>
								<option value="false">No</option>
								<option value="true">Yes</option>
							</select>
                            <span ng-show="form.default.$dirty && form.default.$error.required">This question is required</span>	
					        
     	         		</div>
     	         		
     	         		<!-- What -->
     	         		<fieldset>
     	         		    <legend>What To Send?</legend>
	              		
    	              		<div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" name="title" class="form-control" ng-model="email.title" required>
                                <span ng-show="form.title.$dirty && form.title.$error.required">Title is required</span>	
    					        
         	         		</div>
    
         	         		<div class="form-group">
         	      	     		<label for="content">Description</label>
         	      	     		<textarea rows="5" name="content" class="form-control" ng-model="email.content" required></textarea>
         	      	     		<span ng-show="form.content.$dirty && form.content.$error.required">Content is required</span>
         	         		</div>
         	         		
         	         		<div class="form-group">
         	      	     		<label for="include_rsvp_form">Include RSVP Form</label>
         	      	     		<select class="form-control" name="include_rsvp_form" ng-model="email.include_rsvp_form" required>
    								<option value="true">Yes</option>
    								<option value="false">No</option>
    							</select>
         	      	     		<span ng-show="form.include_rsvp_form.$dirty && form.include_rsvp_form.$error.required">Days Before is required</span>
         	         		</div>
     	         		</fieldset>
     	         		
     	         		<!-- When -->
     	         		<fieldset>
     	         		    <legend>When To Send?</legend>
         	         		<div class="form-group">
         	      	     		<label for="send_type">When to Send?</label>
         	      	     		<select class="form-control" name="send_type" ng-model="email.send_type" ng-disabled="email.default === true" required>
    								<option value="now">Now</option>
    								<option value="days_before">A Specific Number Of Days Before Event</option>
    							</select>
         	      	     		<span ng-show="form.send_type.$dirty && form.send_type.$error.required">When to Send is required</span>
         	         		</div>
         	         		
         	         		<div class="form-group" ng-show="email.send_type == 'days_before'">
     	      	     		    <label for="days_before">Number Of Days Before Event To Send Email?</label>
     	      	     		    <input type="text" name="days_before" class="form-control" ng-model="email.days_before">
     	      	     		    <span ng-show="form.days_before.$dirty && form.days_before.$error.required">Days Before is required</span>
     	         		    </div>
         	         	</fieldset>
     	         		
     	         		<!-- Who -->
     	         		<fieldset>
     	         		    <legend>Who To Send To?</legend>
         	         		<div class="form-group">
         	         		    <label>Send To These Player Types</label>
         	         		    <small class="text-muted">(Check all that apply)</small>
         	         		    <div class="checkbox">
         	      	     		    <label for="player_types[]">
         	      	     		        <input type="checkbox" name="player_types[]" value="1" ng-model="email.player_types[0]" ng-required="is_required(email.player_types)" />Regular
         	      	     		    </label>
         	      	     		</div>
         	      	     		<div class="checkbox">
         	      	     		    <label for="player_types[]">
         	      	     		        <input type="checkbox" name="player_types[]" value="2" ng-model="email.player_types[1]" ng-required="is_required(email.player_types)" />Sub        
         	      	     		    </label>
         	      	     		</div>
                                <div class="checkbox">
                                    <label for="player_types[]">
                                        <input type="checkbox" name="player_types[]" value="3" ng-model="email.player_types[2]" ng-required="is_required(email.player_types)" />Member
                                    </label>
                                </div>
                                							
         	      	     		<!-- <input type="text" name="include_rsvp_form" class="form-control" ng-model="email.include_rsvp_form"> -->
         	      	     		<span ng-show="form.player_types.$dirty && form.player_types.$error.required">Player Types are required</span>
         	         		</div>
         	         		
         	         		<div class="form-group">
         	         		    <label>Send To Players With These Current Responses</label>
         	         		    <small class="text-muted">(Check all that apply)</small>
         	         		    <div class="checkbox">
         	      	     		    <label for="response_types[]">
         	      	     		        <input type="checkbox" name="response_types[]" value="1" ng-model="email.response_types[0]" ng-required="is_required(email.response_types)" />No Response
         	      	     		    </label>
         	      	     		</div>
         	      	     		
         	      	     		<div class="checkbox">
         	      	     		    <label for="response_types[]">
         	      	     		        <input type="checkbox" name="response_types[]" value="2" ng-model="email.response_types[1]" ng-required="is_required(email.response_types)" />Yes
         	      	     		    </label>
         	      	     		</div>
         	      	     		
         	      	     		<div class="checkbox">
         	      	     		    <label for="response_types[]">
         	      	     		        <input type="checkbox" name="response_types[]" value="3" ng-model="email.response_types[2]" ng-required="is_required(email.response_types)" />Probably
         	      	     		    </label>
         	      	     		</div>
         	      	     		
         	      	     		<div class="checkbox">
         	      	     		    <label for="response_types[]">
         	      	     		        <input type="checkbox" name="response_types[]" value="4" ng-model="email.response_types[3]" ng-required="is_required(email.response_types)" />Maybe
         	      	     		    </label>
         	      	     		</div>
         	      	     		
         	      	     		<div class="checkbox">
         	      	     		    <label for="response_types[]">
         	      	     		        <input type="checkbox" name="response_types[]" value="5" ng-model="email.response_types[4]" ng-required="is_required(email.response_types)" />No
         	      	     		    </label>
         	      	     		</div>
         	      	     	
         	      	     		<!-- <input type="text" name="include_rsvp_form" class="form-control" ng-model="email.include_rsvp_form"> -->
         	      	     		<span ng-show="form.response_types.$dirty && form.response_types.$error.required">Response Types are required</span>
         	         		</div>
     	         		</fieldset>
	                    
    	          		<button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Save</button>
    	          		<a href="javascript:history.back()" class="btn btn-default">Cancel</a>
    	      
    	          	</form>
    	          
				</div>
			</div>
		</div>
	</div><!-- /.row -->
</div><!-- /#page-wrapper -->