<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1>New Event</h1>
			<ol class="breadcrumb">
				<li><a href="index.html">Dashboard</a></li>
				<li><a href="#/teams/{{team_id}}">{{team_name}}</a></li>
	            <li class="active">New Event</li>
	        </ol>
	        
			<div class="alert alert-success" ng-show="success != null">
				{{success}}
			</div>
			
			<div class="alert alert-danger" ng-show="error != null">
				{{error}}
			</div>
	        
		</div>
	</div><!-- /.row -->
	
	<div class="modal" id="loadingWidget" style="position:absolute; top: 45%;" >
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <div id="loadingWidget" class="row-fluid ui-corner-all" style="padding: 0 .7em;">
                    <div class="loadingContent">
                        <p>
                            <i class="fa fa-spinner fa-spin fa-2x"></i> Working..
                        </p>
                    </div>
                </div>
              </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
	
	<div class="row">
		<div class="col-lg-12">
		
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">New Email For {{event_name}}</h3>
	            </div>
				<div class="panel-body">
	              
					<form role="form" name="form" ng-submit="createEventEmail()">
	
	              		<div class="form-group">
	              		    
                            <label for="title">Title</label>
                            <input type="text" name="title" class="form-control" ng-model="email.title">
                            <span ng-show="form.title.$dirty && form.title.$error.required">Title is required</span>	
					        
     	         		</div>

     	         		<div class="form-group">
     	      	     		<label for="content">Description</label>
     	      	     		<textarea rows="5" name="content" class="form-control" ng-model="email.content"></textarea>
     	      	     		<span ng-show="form.content.$dirty && form.content.$error.required">Content is required</span>
     	         		</div>
     	         		
     	         		<!-- <div class="form-group">
     	      	     		<label for="days_before">Days Before</label>
     	      	     		<input type="text" name="days_before" class="form-control" ng-model="email.days_before">
     	      	     		<span ng-show="form.days_before.$dirty && form.days_before.$error.required">Days Before is required</span>
     	         		</div> -->
     	         		
     	         		<div class="form-group">
     	      	     		<label for="send_type">When to Send?</label>
     	      	     		<select class="form-control" name="send_type" ng-model="email.send_type">
								<option value="now">Now</option>
								<option value="days_before">X Days Before Event</option>
								<option valud="send_on">Send on X Date</option>
							</select>
     	      	     		<!-- <input type="text" name="include_rsvp" class="form-control" ng-model="email.include_rsvp"> -->
     	      	     		<span ng-show="form.include_rsvp.$dirty && form.include_rsvp.$error.required">Days Before is required</span>
     	         		</div>
     	         		
     	         		<div class="form-group">
     	      	     		<label for="include_rsvp">Include RSVP Form</label>
     	      	     		<select class="form-control" name="include_rsvp" ng-model="email.include_rsvp">
								<option value="true">Yes</option>
								<option value="false">No</option>
							</select>
     	      	     		<!-- <input type="text" name="include_rsvp" class="form-control" ng-model="email.include_rsvp"> -->
     	      	     		<span ng-show="form.include_rsvp.$dirty && form.include_rsvp.$error.required">Days Before is required</span>
     	         		</div>
     	         		
     	         		<div class="form-group">
     	         		    <label>Player Types</label>
     	         		    <small class="text-muted">(Check all that apply)</small>
     	         		    <div class="checkbox">
     	      	     		    <label for="player_types[]">
     	      	     		        <input type="checkbox" name="player_types[]" value="1" ng-model="email.player_types.1" />Regular
     	      	     		    </label>
     	      	     		</div>
     	      	     		<div class="checkbox">
     	      	     		    <label for="player_types[]">
     	      	     		        <input type="checkbox" name="player_types[]" value="2" ng-model="email.player_types.2" />Sub        
     	      	     		    </label>
     	      	     		</div>
                            <div class="checkbox">
                                <label for="player_types[]">
                                    <input type="checkbox" name="player_types[]" value="3" ng-model="email.player_types.3" />Member
                                </label>
                            </div>
                            							
     	      	     		<!-- <input type="text" name="include_rsvp" class="form-control" ng-model="email.include_rsvp"> -->
     	      	     		<span ng-show="form.player_types.$dirty && form.player_types.$error.required">Days Before is required</span>
     	         		</div>
     	         		
     	         		<div class="form-group">
     	         		    <label>Response Types</label>
     	         		    <small class="text-muted">(Check all that apply)</small>
     	         		    <div class="checkbox">
     	      	     		    <label for="response_types[]">
     	      	     		        <input type="checkbox" name="response_types[]" value="1" ng-model="email.response_types.1" />No Response
     	      	     		    </label>
     	      	     		</div>
     	      	     		
     	      	     		<div class="checkbox">
     	      	     		    <label for="response_types[]">
     	      	     		        <input type="checkbox" name="response_types[]" value="2" ng-model="email.response_types.2" />Yes
     	      	     		    </label>
     	      	     		</div>
     	      	     		
     	      	     		<div class="checkbox">
     	      	     		    <label for="response_types[]">
     	      	     		        <input type="checkbox" name="response_types[]" value="3" ng-model="email.response_types.3" />Probably
     	      	     		    </label>
     	      	     		</div>
     	      	     		
     	      	     		<div class="checkbox">
     	      	     		    <label for="response_types[]">
     	      	     		        <input type="checkbox" name="response_types[]" value="4" ng-model="email.response_types.4" />Maybe
     	      	     		    </label>
     	      	     		</div>
     	      	     		
     	      	     		<div class="checkbox">
     	      	     		    <label for="response_types[]">
     	      	     		        <input type="checkbox" name="response_types[]" value="5" ng-model="email.response_types.5" />No
     	      	     		    </label>
     	      	     		</div>
     	      	     	
     	      	     		<!-- <input type="text" name="include_rsvp" class="form-control" ng-model="email.include_rsvp"> -->
     	      	     		<span ng-show="form.response_types.$dirty && form.response_types.$error.required">Days Before is required</span>
     	         		</div>
     	         		
     	         		<!-- <div class="form-group">
     	      	     		<label for="default">Make This The Default Email?</label>
     	      	     		<select class="form-control" name="include_rsvp" ng-model="email.default">
								<option value="true">Yes</option>
								<option value="false">No</option>
							</select>
     	      	     		<!-- <input type="text" name="include_rsvp" class="form-control" ng-model="email.include_rsvp"> -->
     	      	     		<!-- <span ng-show="form.default.$dirty && form.default.$error.required">Days Before is required</span>
     	         		</div> -->
     	         		
     	         		
     	         		<!-- <div class="form-group">
     	         		    <div class="row">
                                <div class="col-xs-2">
     	      	     		        <label for="start">Start Date</label>
     	      	     		        <input type="text" name="start" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="event.start.date" show-weeks="false" ng-required="true" />
                                    
     	      	     		        <div ng-model="event.start.time">
     	      	     		            <timepicker hour-step="1" minute-step="1" show-meridian="true"></timepicker>
     	      	     		        </div>
     	      	     		        
     	      	     		        <span ng-show="form.start.date.$dirty && form.start.date.$error.required && form.start.time.$dirty && form.start.time.$error.required">Start Date is required</span>
     	      	     		    </div>
     	      	     		</div>
     	      	     		<div class="well well-sm"><strong>Start Time:</strong> {{event.start.date | date:'EEEE, MMMM d,y'}} @ {{event.start.time | date:'h:mm:ss a'}}</div>
     	         		</div>
     	         		
     	         		<div class="form-group">
     	      	     		<div class="row">
                                <div class="col-xs-2">
     	      	     		        <label for="end">End Date</label>
     	      	     		        <input type="text" name="end" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="event.end.date" show-weeks="false" ng-required="true" />
                                    
     	      	     		        <div ng-model="event.end.time">
     	      	     		            <timepicker hour-step="1" minute-step="1" show-meridian="true"></timepicker>
     	      	     		        </div>
     	      	     		        
     	      	     		        <span ng-show="form.end.date.$dirty && form.end.date.$error.required && form.end.time.$dirty && form.end.time.$error.required">End Date is required</span>
     	      	     		    </div>
     	      	     		</div>
     	      	     		<div class="well well-sm"><strong>End Time:</strong> {{event.end.date | date:'EEEE, MMMM d,y'}} @ {{event.end.time | date:'h:mm:ss a'}}</div>
     	         		</div> -->
    	          		
    	          		<button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Save</button>
    	          		<a href="javascript:history.back()" class="btn btn-default">Cancel</a>
    	      
    	          	</form>
    	          
				</div>
			</div>
		</div>
	</div><!-- /.row -->
</div><!-- /#page-wrapper -->